<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
  </head>

  <body>

    {% if error %}
      <p><strong>Virhe:</strong> {{ error }}</p>
    {% endif %}

    Käytetty aika: {{ time }} <br />
    {% if path %}
      Reitin pituus: {{ length }}
      <h3>Reitti</h3>
      {{ path }}
    {% endif %}


    <div>
      <form action="/" method="post" enctype="multipart/form-data">
        <label for="map-file">Syötä map-tiedosto</label><br />
        <input
          type="file"
          id ="map-file"
          name="map-file"
          accept=".map"
          required />

        <input type="number" id="start-x" name="start-x" value="{{ filled.sx }}" placeholder="Lähtö X" required />
        <input type="number" id="start-y" name="start-y" value="{{ filled.sy }}" placeholder="Lähtö Y" required />
        <input type="number" id="goal-x" name="goal-x" value="{{ filled.gx }}" placeholder="Maali X" required />
        <input type="number" id="goal-y" name="goal-y" value="{{ filled.gy }}" placeholder="Maali Y" required />

        <input type="radio" id="A*" name="algorithm" value="A*" required/>
        <label for="A*">A*-haku</label>
        <input type="radio" id="JPS" name="algorithm" value="JPS" required/>
        <label for="JPS">Hyppypistehaku (JPS)</label>

        <button type="submit">Suorita</button>
      </form>
    </div>

    {% if image %}
    <pre>
      {% for row in image %}{{ row }}
      {% endfor %}
    </pre>
    {% endif %}
  </body>
</html>